@charset "UTF-8";
body {
  background-color: #f2f2f2;
}
.pic {
  text-align: center;
}

.pic a, .pic a:visited {
  background: #444;
  display: block;
  width: 100%;
  line-heighT: 44px;
  heighT: 44px;
  overflow: hidden;
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}
.center {
  text-align: center;
}
.play-btn {
  background-color: rgb(84, 92, 100);
}
.info ul li {
  padding: 5px 0;
}
