@charset "UTF-8";
@import "../css/base.css";
@import "../css/index/index.css";

.el-scrollbar__wrap {
  overflow-x: hidden;
  overflow-y: scroll;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.rounded {
  position: static;
  height: 160px;
}
.el-menu-item {
  padding: 0 10px;
}
.center {
  text-align: center;
}
.font-blue {
  color: blue;
}
.cur-pointer {
  cursor: pointer;
}
.margin-top-10 {
  margin-top: 10px;
}

.width-100-percent {
  width: 100%;
}
